// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron
{
  background-image: url(http://www.scubadiving.com/sites/scubadiving.com/files/styles/medium_1x_/public/import/2013/files/_images/201309/turtturt_0.jpg?itok=fyeh5MXS);
  min-height: 400px;
  margin-top: 0px;
  margin-bottom: 8px;
}
